/*SCSS document*/
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End Reset */
@font-face {
  font-family: 'Inconsolata';
  src: url("../fonts/Inconsolata-Regular.woff2") format("woff2"), url("../fonts/Inconsolata-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Inconsolata';
  src: url("../fonts/Inconsolata-Bold.woff2") format("woff2"), url("../fonts/Inconsolata-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Thin.woff2") format("woff2"), url("../fonts/Lato-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
.hidden {
  display: none; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: #4d4d4d;
  background-color: #ffffff; }

body.noscroll {
  height: 100%;
  overflow: hidden; }

#container {
  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  overflow: scroll; }
  #lightbox::-webkit-scrollbar {
    display: none; }
  #lightbox #lb-content {
    position: absolute;
    width: 95%;
    height: auto;
    max-width: 48rem;
    top: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
    #lightbox #lb-content .content-wrapper {
      max-width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 7.5% 85% 7.5%;
      text-align: center; }
    #lightbox #lb-content #lb-close {
      float: right;
      font-size: 3rem;
      color: #ffffff;
      cursor: pointer; }
    #lightbox #lb-content #project-name {
      font-family: "Lato", Arial, sans-serif;
      font-size: 1.6rem;
      line-height: 1.8rem;
      color: #ffffff; }
    #lightbox #lb-content #image-container {
      width: 100%;
      position: relative;
      max-width: 30rem;
      margin: 0 auto;
      overflow: hidden;
      outline: 0;
      background-color: #ffffff; }
      #lightbox #lb-content #image-container #image-wrapper {
        position: relative;
        min-width: 0;
        min-height: 0;
        width: 100%;
        left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: flex; }
        #lightbox #lb-content #image-container #image-wrapper img {
          outline: 0;
          max-width: 480px;
          max-height: 384px;
          width: 100%;
          height: 100%;
          -webkit-flex-grow: 0;
          -webkit-flex-shrink: 0;
          -webkit-flex-basis: 100%;
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 100%; }
    #lightbox #lb-content #project-desc {
      display: block;
      width: 85%;
      max-width: 30rem;
      margin: 0 auto;
      background-color: #ffffff; }
      #lightbox #lb-content #project-desc p {
        font-family: "Lato", Arial, sans-serif;
        font-size: 1rem;
        line-height: 1.2rem;
        color: #4d4d4d;
        padding: 0.8rem;
        margin-bottom: 2rem; }
    #lightbox #lb-content .content-arrow {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #lightbox #lb-content .content-arrow .lb-arrow {
        font-size: 3rem;
        color: #ffffff;
        cursor: pointer; }

#main-banner {
  width: 100%;
  max-width: inherit;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  #main-banner #banner-image {
    position: fixed;
    width: 100%;
    max-width: inherit;
    height: 100%;
    max-height: inherit;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: grayscale(30%);
    filter: grayscale(30%);
    z-index: -2; }
  #main-banner #banner-over {
    position: fixed;
    width: 100%;
    max-width: 120rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1; }
  #main-banner #banner-content {
    height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #main-banner #banner-content #banner-logo {
      width: 12rem; }
      #main-banner #banner-content #banner-logo svg {
        fill: #ffffff; }
    #main-banner #banner-content .banner-title {
      font-family: "Inconsolata", Helvetica, monospace;
      color: #ffffff;
      font-weight: normal;
      font-weight: bold;
      font-size: 2rem;
      text-transform: uppercase;
      margin-top: 1rem; }
    #main-banner #banner-content .banner-text {
      font-family: "Lato", Arial, sans-serif;
      font-weight: 100;
      color: #ffffff;
      font-size: 1.5rem;
      margin-top: 1rem; }
  #main-banner header {
    position: relative;
    display: block;
    width: 100%;
    min-width: inherit;
    max-width: inherit;
    z-index: 30;
    background-color: transparent;
    transition: background-color 0s ease-in-out; }
    #main-banner header #main-logo {
      width: 3rem;
      margin: 1rem 0 1rem 1rem;
      float: left;
      z-index: 30;
      cursor: pointer; }
      #main-banner header #main-logo svg {
        fill: #ffffff;
        transition: fill 0.3s ease-in-out; }
    #main-banner header #hamburger-menu {
      font-size: 3rem;
      color: #ffffff;
      float: right;
      margin: 0.5rem 0.75rem 1rem 0;
      z-index: 30;
      cursor: pointer;
      transition: color 0.3s ease-in-out; }
    #main-banner header #main-nav {
      position: fixed;
      top: 0;
      left: 120rem;
      width: 100vw;
      height: 100vh;
      background-color: #fbfb25;
      z-index: -1;
      transition: left 0.5s ease-in-out; }
      #main-banner header #main-nav ul {
        position: relative;
        z-index: 5;
        margin-top: 0;
        transition: margin-top 0s 0.6s linear; }
        #main-banner header #main-nav ul li {
          padding: 1.2rem 0; }
          #main-banner header #main-nav ul li a {
            font-family: "Inconsolata", Helvetica, monospace;
            font-weight: normal;
            font-size: 4rem;
            color: #4d4d4d;
            text-decoration: none;
            text-transform: uppercase; }
      #main-banner header #main-nav #white-rect-1,
      #main-banner header #main-nav #white-rect-2 {
        display: block;
        position: absolute;
        background-color: #ffffff;
        z-index: -1; }
      #main-banner header #main-nav #white-rect-1 {
        top: 55%;
        left: 0;
        width: 80%;
        height: 35%; }
      #main-banner header #main-nav #white-rect-2 {
        top: 0;
        right: 0;
        width: 35%;
        height: 45%; }
  #main-banner header.openmenu #main-logo svg {
    fill: #4d4d4d; }
  #main-banner header.openmenu #hamburger-menu {
    color: #4d4d4d; }
  #main-banner header.openmenu #main-nav {
    left: 0; }
  #main-banner header.openmenu #main-nav.down ul {
    margin-top: 80%;
    transition: margin-top 0s 0s linear; }
  #main-banner header.ontop {
    position: fixed;
    top: 0;
    bottom: auto;
    color: #4d4d4d;
    background-color: #ffffff; }
    #main-banner header.ontop #main-logo svg {
      fill: #4d4d4d; }
    #main-banner header.ontop #hamburger-menu {
      color: #4d4d4d; }
    #main-banner header.ontop #main-nav ul li a {
      color: #4d4d4d; }

#top-triangle {
  width: 0;
  margin: 0 auto;
  line-height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 20vh solid #ffffff; }

.content-section {
  background-color: #ffffff;
  padding: 0 1.1rem; }
  .content-section .section-title {
    position: relative;
    font-family: "Inconsolata", Helvetica, monospace;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: right;
    padding: 4.5rem 0 2rem 0; }
    .content-section .section-title::before, .content-section .section-title::after {
      content: "-";
      margin: 0 0.5rem; }

#about .text-container {
  position: relative; }
  #about .text-container .about-text {
    position: relative;
    line-height: 105%;
    margin-bottom: 1rem;
    z-index: 2; }
    #about .text-container .about-text:first-of-type::first-letter {
      float: left;
      font-weight: normal;
      font-size: 8rem;
      line-height: 6rem; }
  #about .text-container #yellow-rect {
    position: absolute;
    width: 60vw;
    height: 50%;
    top: 15%;
    left: 0;
    background-color: #fbfb25;
    z-index: 0;
    margin-left: -1.1rem; }
#about .line {
  float: right;
  width: 25%;
  max-width: 10rem;
  border: none;
  border-top: 4px solid #4d4d4d;
  margin-top: 1rem; }
#about #resume {
  clear: right;
  display: block;
  float: right;
  color: #4d4d4d;
  text-decoration: none;
  border-bottom: 1px solid #4d4d4d;
  padding-bottom: 0.2rem;
  margin-top: 1.5rem; }
#about #about-photo {
  clear: right;
  display: block;
  width: 85%;
  max-width: 640px;
  margin: 0 auto;
  padding-top: 2.5rem; }
#about #motto {
  clear: right;
  position: relative;
  left: 10%;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2.5rem; }
  #about #motto li {
    padding-bottom: 1rem; }

#work #projects {
  display: grid;
  grid-template-columns: 100%;
  line-height: 0; }
  #work #projects .project-item {
    position: relative;
    margin-bottom: 1rem;
    background-color: #fbfb25;
    overflow: hidden; }
    #work #projects .project-item img {
      width: 100%;
      transition: all 0.5s; }
    #work #projects .project-item h3 {
      position: absolute;
      min-width: 60%;
      max-width: 80%;
      top: 50%;
      left: 50%;
      padding: 1rem 0;
      display: inline;
      font-family: "Lato", Arial, sans-serif;
      font-size: 2rem;
      font-weight: bold;
      color: #ffffff;
      line-height: normal;
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.5s; }
      #work #projects .project-item h3::before, #work #projects .project-item h3::after {
        content: " ";
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        width: 0;
        height: 0.2rem;
        background-color: #ffffff;
        transition: all 0.5s; }
      #work #projects .project-item h3::before {
        top: 0; }
      #work #projects .project-item h3::after {
        top: 100%; }
  #work #projects .project-item.no-touch:hover img {
    opacity: 0.05;
    transform: scale(1.2); }
  #work #projects .project-item.no-touch:hover h3 {
    opacity: 1; }
    #work #projects .project-item.no-touch:hover h3::before, #work #projects .project-item.no-touch:hover h3::after {
      width: 100%; }

#contact #form {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2rem; }
  #contact #form .form-field {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    margin-top: -1rem; }
    #contact #form .form-field .form-label {
      font-family: "Lato", Arial, sans-serif;
      font-weight: bold;
      font-size: 3rem;
      color: #dedede;
      text-transform: uppercase;
      margin-right: auto;
      padding-top: 1.5rem; }
    #contact #form .form-field .form-info {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
      transform: translate(-50%, -100%);
      border: none;
      border-bottom: 2px solid #4d4d4d;
      font-family: "Inconsolata", Helvetica, monospace;
      font-size: 1rem;
      color: #4d4d4d;
      text-align: center;
      width: 75%;
      align-self: center;
      background-color: transparent;
      outline: 0; }
      #contact #form .form-field .form-info:active {
        border-color: #fbfb25; }
  #contact #form .form-field.message {
    padding-top: 1rem; }
    #contact #form .form-field.message .form-label {
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      padding-top: 3rem; }
    #contact #form .form-field.message .form-info {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      border-left: 2px solid #4d4d4d;
      width: 80%;
      text-align: left; }
      #contact #form .form-field.message .form-info:active {
        border-color: #fbfb25; }
  #contact #form #form-submit {
    float: right;
    display: inline-block;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #4d4d4d;
    border: 2px solid #4d4d4d;
    border-radius: 3px;
    padding: 0.3rem 1.3rem;
    cursor: pointer;
    transition: all 0.4s ease-out; }
    #contact #form #form-submit:hover {
      color: #4d4d4d;
      background-color: #fbfb25; }

footer {
  background-color: #4d4d4d;
  color: #ffffff;
  padding: 2rem 0;
  text-align: center; }
  footer #social ul {
    display: inline-flex; }
    footer #social ul li {
      margin: 0 0.8rem; }
      footer #social ul li a i {
        font-size: 2rem;
        color: #ffffff;
        transition: color 0.4s ease-out; }
        footer #social ul li a i:hover {
          color: #fbfb25; }
  footer #copyright {
    margin-top: 2rem; }
    footer #copyright p {
      font-family: "Lato", Arial, sans-serif;
      font-size: 0.9rem;
      margin-top: 0.5rem; }
      footer #copyright p a {
        text-decoration: none;
        color: #ffffff; }

@media screen and (min-width: 40rem) {
  #lightbox #lb-content {
    max-width: 48rem; }
    #lightbox #lb-content #image-container {
      max-width: 40rem; }
      #lightbox #lb-content #image-container #image-wrapper img {
        max-width: 640px;
        max-height: 512px; }
    #lightbox #lb-content #project-desc {
      max-width: 40rem; }

  #main-banner #banner-content #banner-logo {
    width: 16rem; }
  #main-banner #banner-content .banner-title {
    font-size: 2.6rem; }
  #main-banner #banner-content .banner-text {
    font-size: 2rem; }
  #main-banner header #hamburger-menu {
    display: none; }
  #main-banner header #main-nav {
    clear: none;
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    background-color: transparent; }
    #main-banner header #main-nav ul {
      float: right;
      text-align: center;
      z-index: auto;
      margin-right: 0.5rem; }
      #main-banner header #main-nav ul li {
        padding: 1.7rem 1rem 1rem 1rem;
        display: inline-block; }
        #main-banner header #main-nav ul li a {
          font-size: 1.4rem;
          color: #ffffff;
          transition: color 0.3s ease-in-out; }

  .content-section {
    padding: 0 2rem; }
    .content-section .section-title {
      padding: 4rem 0 2rem 0; }

  #about {
    overflow: hidden; }
    #about .text-container .about-text {
      margin-right: 0.5rem; }
      #about .text-container .about-text:first-of-type::first-letter {
        font-size: 50vw;
        line-height: 16rem;
        padding-bottom: 2rem; }
    #about .text-container #yellow-rect {
      height: 70%;
      margin-left: 0.5rem; }
    #about .line {
      width: 12%;
      margin-right: 0.5rem; }
    #about #resume {
      margin-bottom: 2rem;
      margin-right: 0.5rem; }
    #about #about-photo {
      float: right;
      width: 45%;
      margin-right: 0.5rem; }
    #about #motto {
      clear: none;
      float: left;
      margin-left: 2vw;
      font-size: 6.25vw; }
      #about #motto li {
        padding-bottom: 1.5rem; }

  #work #projects {
    grid-template-columns: 1fr 1fr;
    margin: 0 -2rem; }
    #work #projects .project-item {
      margin: 0; }

  #contact {
    clear: both; }
    #contact #form {
      width: 90%;
      padding-bottom: 2rem; }
      #contact #form .form-field .form-label {
        font-size: 4.5rem; }
      #contact #form .form-field .form-info {
        font-size: 1.5rem; }
      #contact #form #form-submit {
        font-size: 1.4rem; }

  footer {
    padding: 3rem 0; }
    footer #social ul li {
      margin: 0 1rem; }
      footer #social ul li a i {
        font-size: 2.2rem; }
    footer #copyright {
      margin-top: 2.5rem; }
      footer #copyright p {
        font-size: 1rem; } }
@media screen and (min-width: 64rem) {
  #lightbox #lb-content {
    max-width: 48rem;
    top: 2%; }
    #lightbox #lb-content #lb-close {
      font-size: 4rem; }
    #lightbox #lb-content #project-name {
      font-size: 1.8rem;
      line-height: 2rem; }
    #lightbox #lb-content #image-container {
      max-width: 40rem; }
    #lightbox #lb-content #project-desc {
      max-width: 40rem; }
      #lightbox #lb-content #project-desc p {
        font-size: 1.1rem;
        padding: 1rem; }
    #lightbox #lb-content .content-arrow .lb-arrow {
      font-size: 4rem; }

  #main-banner #banner-content #banner-logo {
    width: 18rem; }
  #main-banner #banner-content .banner-title {
    font-size: 3rem; }
  #main-banner #banner-content .banner-text {
    font-size: 2.2rem; }
  #main-banner header #main-logo {
    width: 4rem;
    margin: 1rem 0 1rem 1.5rem; }
  #main-banner header #main-nav ul {
    margin-right: 0.5rem; }
    #main-banner header #main-nav ul li {
      padding: 1.8rem 1.5rem 0 1.5rem; }
      #main-banner header #main-nav ul li a {
        font-size: 1.7rem; }

  .content-section {
    padding: 0 3rem; }
    .content-section .section-title {
      font-size: 2.5rem;
      padding: 5rem 0 3rem 0;
      margin-right: 2rem; }

  #about .text-container {
    margin: 0 0.5rem; }
    #about .text-container .about-text {
      font-size: 1.4rem;
      margin-right: 1rem; }
      #about .text-container .about-text:first-of-type::first-letter {
        padding-top: 3rem; }
    #about .text-container #yellow-rect {
      height: 65%; }
  #about .line {
    width: 8%;
    margin-right: 1rem; }
  #about #resume {
    font-size: 1.2rem;
    margin-right: 1rem; }
  #about #about-photo {
    margin-right: 1rem; }
  #about #motto {
    margin-left: 5vw;
    font-size: 5.5vw;
    margin-top: 4.5rem; }
    #about #motto li {
      padding-bottom: 1.8rem; }

  #work #projects {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 -3rem; }

  #contact #form {
    width: 80%; }

  footer #social ul li {
    margin: 0 1.2rem; } }
@media screen and (min-width: 75rem) {
  #about .text-container .about-text {
    font-size: 1.6rem; }
    #about .text-container .about-text:first-of-type::first-letter {
      line-height: 20rem; }
  #about .text-container #yellow-rect {
    height: 70%; }
  #about #about-photo {
    padding-top: 3.5rem; }
  #about #motto {
    margin-top: 5.5rem; } }
@media screen and (min-width: 84rem) {
  #main-banner header #main-nav ul li {
    padding: 1.8rem 2rem 0 2rem; }

  .content-section .section-title {
    font-size: 3rem;
    padding: 6rem 0 3rem 0;
    margin-right: 3.5rem; }

  #about .text-container .about-text {
    font-size: 1.8rem;
    margin-left: 1rem;
    margin-right: 2rem; }
    #about .text-container .about-text:first-of-type::first-letter {
      line-height: 22rem; }
  #about .line {
    margin-right: 2rem; }
  #about #resume {
    margin-right: 2rem; }
  #about #about-photo {
    padding-top: 7.5rem;
    margin-right: 2rem; }
  #about #motto {
    margin-top: 9.5rem; } }
@media screen and (min-width: 90rem) {
  #main-banner header #main-logo {
    width: 5rem; }
  #main-banner header #main-nav ul li {
    padding: 2rem 2.5rem 0 2.5rem; }
    #main-banner header #main-nav ul li a {
      font-size: 2rem; }

  .content-section .section-title {
    font-size: 3.5rem;
    padding: 7rem 0 3.5rem 0;
    margin-right: 5rem; }

  #lightbox #lb-content {
    max-width: 68rem; }
    #lightbox #lb-content #lb-close {
      font-size: 5rem; }
    #lightbox #lb-content #project-name {
      font-size: 2rem;
      line-height: 2.2rem; }
    #lightbox #lb-content #image-container {
      max-width: 60rem; }
      #lightbox #lb-content #image-container #image-wrapper img {
        max-width: 960px;
        max-height: 768px; }
    #lightbox #lb-content #project-desc {
      max-width: 60rem; }
      #lightbox #lb-content #project-desc p {
        font-size: 1.2rem;
        padding: 1rem; }
    #lightbox #lb-content .content-arrow .lb-arrow {
      font-size: 5rem; }

  #about .text-container .about-text {
    font-size: 1.8rem;
    margin-left: 2rem;
    margin-right: 3rem; }
    #about .text-container .about-text:first-of-type::first-letter {
      line-height: 24rem; }
  #about .line {
    margin-top: 2rem;
    margin-right: 3rem; }
  #about #resume {
    font-size: 1.4rem;
    margin-right: 3rem; }
  #about #about-photo {
    margin-right: 3rem; }

  #contact #form .form-field .form-label {
    font-size: 6.5rem; } }
@media screen and (min-width: 100rem) {
  #about .text-container .about-text {
    font-size: 2rem;
    margin-left: 3rem;
    margin-right: 4rem; }
    #about .text-container .about-text:first-of-type::first-letter {
      line-height: 26rem; }
  #about .line {
    margin-top: 2rem;
    margin-right: 4rem; }
  #about #resume {
    font-size: 1.6rem;
    margin-right: 4rem; }
  #about #about-photo {
    margin-right: 4rem; } }
@media screen and (min-width: 120rem) {
  #main-banner header #main-logo {
    width: 5.5rem; }
  #main-banner header #main-nav ul li {
    padding: 2rem 3rem 0 3rem; }
    #main-banner header #main-nav ul li a {
      font-size: 2.4rem; }

  #top-triangle {
    border-left: 60rem solid transparent;
    border-right: 60rem solid transparent; }

  .content-section .section-title {
    font-size: 4.5rem;
    padding: 8rem 0 5rem 0;
    margin-right: 7rem; }

  #about .text-container .about-text {
    font-size: 2.5rem;
    margin-left: 4rem;
    margin-right: 5.5rem; }
  #about .text-container .about-text:first-of-type::first-letter {
    font-size: 60rem;
    line-height: 34rem; }
  #about .line {
    margin-right: 5.5rem; }
  #about #resume {
    font-size: 1.8rem;
    margin-right: 5.5rem; }
  #about #about-photo {
    margin-right: 5.5rem; }
  #about #motto {
    margin-left: 6rem;
    font-size: 7rem; }

  #contact #form .form-field .form-label {
    font-size: 8rem; }
  #contact #form .form-field.message .form-label {
    padding-top: 0; } }
