/*SCSS document*/

@import "reset";
@import "fonts";
@import "globals";
@import "mixins";

.hidden {
  display: none;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body {
  font-family: $fontText;
  font-weight: 300;
  font-size: 1.1rem;
  color: $textColor;
  background-color: #ffffff;
}

body.noscroll {
    height: 100%;
    overflow: hidden;
}

#container {
  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  // overflow-y: auto;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  #lb-content {
    position: absolute;
    width: 95%;
    height: auto;
    max-width: 48rem;
    top: 5%;
    left: 50%;
    @include translate(-50%, 0);

    .content-wrapper {
      max-width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 7.5% 85% 7.5%;
      text-align: center;
    }

    #lb-close {
      float: right;
      font-size: 3rem;
      color: #ffffff;
      cursor: pointer;
    }

    #project-name {
      font-family: $fontText;
      font-size: 1.6rem;
      line-height: 1.8rem;
      color: #ffffff;
    }

    #image-container {
      width: 100%;
      position: relative;
      max-width: 30rem;
      margin: 0 auto;
      overflow: hidden;
      outline: 0;
      background-color: #ffffff;

      #image-wrapper {
        position: relative;
        min-width: 0;
        min-height: 0;
        width: 100%;
        left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;

        img {
          outline: 0;
          max-width: 480px;
          max-height: 384px;
          width: 100%;
          height: 100%;
          -webkit-flex-grow: 0;
          -webkit-flex-shrink: 0;
          -webkit-flex-basis: 100%;
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 100%;
        }
      }
    }

    #project-desc {
      display: block;
      width: 85%;
      max-width: 30rem;
      margin: 0 auto;
      background-color: #ffffff;

      p {
        font-family: $fontText;
        font-size: 1rem;
        line-height: 1.2rem;
        color: $textColor;
        padding: 0.8rem;
        margin-bottom: 2rem;
      }
    }

    .content-arrow {
      display: -webkit-box;
      // display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .lb-arrow {
        font-size: 3rem;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}

#main-banner {
  width: 100%;
  max-width: inherit;
  height: 100vh;
  max-height: 1280px;
  // position: relative;
  display: -webkit-box;
  // display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #banner-image {
    position: fixed;
    width: 100%;
    max-width: inherit;
    height: 100%;
    max-height: inherit;
    -o-object-fit: cover;
		object-fit: cover;
    @include grayscale(30%);
    // opacity: 0.7;
    z-index: -2;
  }

  #banner-over {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }

  #banner-content {
    height: 80vh;
    display: -webkit-box;
    // display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #banner-logo {
      width: 12rem;
      // height: 12rem;
      svg {
        fill: #ffffff;
      }
    }

    .banner-title {
      font-family: $fontTitle;
      color: #ffffff;
      font-weight: normal;
      font-weight: bold;
      font-size: 2rem;
      text-transform: uppercase;
      margin-top: 1rem;
    }

    .banner-text {
      font-family: $fontText;
      font-weight: 100;
      color: #ffffff;
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }

  header {
    position: relative;
    display: block;
    width: 100%;
    min-width: inherit;
    max-width: inherit;
    z-index: 30;
    background-color: transparent;
    // overflow: hidden;
    transition: background-color 0s ease-in-out;

    #main-logo {
      width: 3rem;
      margin: 1rem 0 1rem 1rem;
      float: left;
      z-index: 30;
      cursor: pointer;
      svg {
        fill: #ffffff;
        transition: fill 0.3s ease-in-out;
      }
    }

    #hamburger-menu {
      font-size: 3rem;
      color: #ffffff;
      float: right;
      margin: 0.5rem 0.75rem 1rem 0;
      z-index: 30;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
    }

    #main-nav {
      position: fixed;
      top: 0;
      left: 120rem;
      width: 100vw;
      height: 100vh;
      background-color: $yellow;
      z-index: -1;
      transition: left 0.5s ease-in-out;

      ul {
        position: relative;
        z-index: 5;
        margin-top: 0;
        transition: margin-top 0s 0.6s linear;
        li {
          padding: 1.2rem 0;
          a {
            font-family: $fontTitle;
            font-weight: normal;
            font-size: 4rem;
            color: $textColor;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }

      #white-rect-1,
      #white-rect-2 {
        display: block;
        position: absolute;
        background-color: #ffffff;
        z-index: -1;
      }
      #white-rect-1 {
        top: 55%;
        left: 0;
        width: 80%;
        height: 35%;
      }
      #white-rect-2 {
        top: 0;
        right: 0;
        width: 35%;
        height: 45%;
      }
    }
  }

  header.openmenu {
    #main-logo {
      svg {
        fill: $textColor;
      }
    }

    #hamburger-menu {
      color: $textColor;
    }

    #main-nav {
      left: 0;
    }

    #main-nav.down {
      ul {
        margin-top: 80%;
        transition: margin-top 0s 0s linear;
      }
    }
  }

  header.ontop {
    position: fixed;
    top: 0;
    bottom: auto;
    color: $textColor;
    // background-color: rgba(255, 255, 255, 0.8);
    background-color: #ffffff;

    #main-logo {
      svg {
        fill: $textColor;
      }
    }

    #hamburger-menu {
      color: $textColor;
    }

    #main-nav {
      ul {
        li {
          a {
            color: $textColor;
          }
        }
      }
    }
  }
}

#top-triangle {
  width: 0;
  margin: 0 auto;
  line-height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 20vh solid #ffffff;
}

.content-section {
  background-color: #ffffff;
  padding: 0 1.1rem;
  .section-title {
    position: relative;
    font-family: $fontTitle;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: right;
    padding: 4.5rem 0 2rem 0;
    &::before,
    &::after {
      content: "-";
      margin: 0 0.5rem;
    }
  }
}

#about {
  .text-container {
    position: relative;

    .about-text {
      position: relative;
      line-height: 105%;
      margin-bottom: 1rem;
      z-index: 2;
      &:first-of-type::first-letter {
        float: left;
        font-weight: normal;
        font-size: 8rem;
        line-height: 6rem;
      }
    }

    #yellow-rect {
      position: absolute;
      width: 60vw;
      height: 50%;
      top: 15%;
      left: 0;
      background-color: $yellow;
      z-index: 0;
      margin-left: -1.1rem;
    }
  }

  .line {
    float: right;
    width: 25%;
    max-width: 10rem;
    border: none;
    border-top: 4px solid $textColor;
    margin-top: 1rem;
  }

  #resume {
    clear: right;
    display: block;
    float: right;
    color: $textColor;
    text-decoration: none;
    border-bottom: 1px solid $textColor;
    padding-bottom: 0.2rem;
    margin-top: 1.5rem;
  }

  #about-photo {
    clear: right;
    display: block;
    width: 85%;
    max-width: 640px;
    margin: 0 auto;
    padding-top: 2.5rem;
  }

  #motto {
    clear: right;
    position: relative;
    left: 10%;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2.5rem;
    // padding-top: 3rem;
    // opacity: 0;
    li {
      padding-bottom: 1rem;
    }
  }
}

#work {
  #projects {
    display: grid;
    grid-template-columns: 100%;
    line-height: 0;
    .project-item {
      position: relative;
      margin-bottom: 1rem;
      background-color: $yellow;
      overflow: hidden;
      img {
        width: 100%;
        transition: all 0.5s;
      }
      h3 {
        position: absolute;
        min-width: 60%;
        max-width: 80%;
        top: 50%;
        left: 50%;
        padding: 1rem 0;
        display: inline;
        font-family: $fontText;
        font-size: 2rem;
        font-weight: bold;
        color: #ffffff;
        // text-shadow: 1px 1px 1px $textColor;
        line-height: normal;
        text-align: center;
        @include translate(-50%, -50%);
        opacity: 0;
        transition: all 0.5s;
        &::before,
        &::after {
          content: " ";
          position: absolute;
          left: 50%;
          @include translate(-50%, 0);
          width: 0;
          height: 0.2rem;
          background-color: #ffffff;
          // box-shadow: 1px 1px 0 $textColor;
          transition: all 0.5s;
        }
        &::before {
          top: 0;
        }
        &::after {
          top: 100%;
        }
      }
    }
    .project-item.no-touch:hover {
      img {
        opacity: 0.05;
        transform: scale(1.2);
      }
      h3 {
        opacity: 1;
        &::before,
        &::after {
          width: 100%;
        }
      }
    }
  }
}

#contact {
  #form {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;
    .form-field {
      width: 100%;
      position: relative;
      display: -webkit-box;
      // display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      border: none;
      align-items: center;
      justify-content: center;
      padding-bottom: 2rem;
      margin-top: -1rem;

      .form-label {
        font-family: $fontText;
        font-weight: bold;
        font-size: 3rem;
        color: #dedede;
        text-transform: uppercase;
        margin-right: auto;
        padding-top: 1.5rem;
      }
      .form-info {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -100%);
        border: none;
        border-bottom: 2px solid $textColor;
        font-family: $fontTitle;
        font-size: 1rem;
        color: $textColor;
        text-align: center;
        width: 75%;
        align-self: center;
        background-color: transparent;
        outline: 0;
        &:active {
          border-color: $yellow;
        }
        // &::placeholder {
        //   text-align: center;
        // }
      }
    }

    .form-field.message {
      padding-top: 1rem;
      .form-label {
        position: absolute;
        top: 50%;
        left: 0;
        @include translate(0, -50%);
        padding-top: 3rem;
      }
      .form-info {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        border-left: 2px solid $textColor;
        width: 80%;
        text-align: left;
        &:active {
          border-color: $yellow;
        }
      }
    }

    #form-submit {
      float: right;
      display: inline-block;
      font-family: $fontText;
      font-weight: 900;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: #ffffff;
      background-color: $textColor;
      border: 2px solid $textColor;
      border-radius: 3px;
      padding: 0.3rem 1.3rem;
      cursor: pointer;
      transition: all 0.4s ease-out;

      &:hover {
        color: $textColor;
        background-color: $yellow;
      }
    }
  }
}

footer {
  background-color: $textColor;
  color: #ffffff;
  padding: 2rem 0;
  text-align: center;

  #social {
    ul {
      display: inline-flex;
      li {
        margin: 0 0.8rem;
        a {
          i {
            font-size: 2rem;
            color: #ffffff;
            transition: color 0.4s ease-out;
            &:hover {
              color: $yellow;
            }
          }
        }
      }
    }
  }

  #copyright {
    margin-top: 2rem;
    p {
      font-family: $fontText;
      font-size: 0.9rem;
      margin-top: 0.5rem;
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}

// 640px
@media screen and (min-width: 40rem) {
  #lightbox {
    #lb-content {
      max-width: 48rem;

      #image-container {
        max-width: 40rem;

        #image-wrapper {
          img {
            max-width: 640px;
            max-height: 512px;
          }
        }
      }

      #project-desc {
        max-width: 40rem;
      }
    }
  }

  #main-banner {
    #banner-content {
      #banner-logo {
        width: 16rem;
      }

      .banner-title {
        font-size: 2.6rem;
      }

      .banner-text {
        font-size: 2rem;
      }
    }

    header {
      #hamburger-menu {
        display: none;
      }

      #main-nav {
        clear: none;
        position: relative;
        left: 0;
        width: auto;
        height: auto;
        background-color: transparent;
        ul {
          float: right;
          text-align: center;
          z-index: auto;
          margin-right: 0.5rem;
          li {
            padding: 1.7rem 1rem 1rem 1rem;
            display: inline-block;

            a {
              font-size: 1.4rem;
              color: #ffffff;
              transition: color 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }

  .content-section {
    padding: 0 2rem;
    .section-title {
      padding: 4rem 0 2rem 0;
    }
  }

  #about {
    overflow: hidden;
    .text-container {
      .about-text {
        margin-right: 0.5rem;
        &:first-of-type::first-letter {
          font-size: 50vw;
          line-height: 16rem;
          padding-bottom: 2rem;
        }
      }

      #yellow-rect {
        height: 70%;
        margin-left: 0.5rem;
      }
    }

    .line {
      width: 12%;
      margin-right: 0.5rem;
    }

    #resume {
      margin-bottom: 2rem;
      margin-right: 0.5rem;
    }

    #about-photo {
      float: right;
      width: 45%;
      margin-right: 0.5rem;
    }

    #motto {
      clear: none;
      float: left;
      margin-left: 2vw;
      font-size: 6.25vw;
      li {
        padding-bottom: 1.5rem;
      }
    }
  }

  #work {
    #projects {
      grid-template-columns: 1fr 1fr;
      margin: 0 -2rem;
      .project-item {
        margin: 0;
        // img {
        //   width: 100%;
        // }

        // &:nth-of-type(odd) {
        //   margin-right: 0.5rem;
        // }
        // &:nth-of-type(even) {
        //   margin-left: 0.5rem;
        // }
      }
    }
  }

  #contact {
    clear: both;
    #form {
      width: 90%;
      padding-bottom: 2rem;
      .form-field {

        .form-label {
          font-size: 4.5rem;
        }
        .form-info {
          font-size: 1.5rem;
        }
      }

      .form-field.message {
        .form-label {

        }
        .form-info {

        }
      }

      #form-submit {
        font-size: 1.4rem;
      }
    }
  }

  footer {
    padding: 3rem 0;

    #social {
      ul {
        li {
          margin: 0 1rem;
          a {
            i {
              font-size: 2.2rem;
            }
          }
        }
      }
    }

    #copyright {
      margin-top: 2.5rem;
      p {
        font-size: 1rem;
      }
    }
  }

}

// 1024px
@media screen and (min-width: 64rem) {
  #lightbox {
    #lb-content {
      max-width: 48rem;
      top: 2%;

      #lb-close {
        font-size: 4rem;
      }

      #project-name {
        font-size: 1.8rem;
        line-height: 2rem;
      }

      #image-container {
        max-width: 40rem;
      }

      #project-desc {
        max-width: 40rem;

        p {
          font-size: 1.1rem;
          padding: 1rem;
        }
      }

      .content-arrow {
        .lb-arrow {
          font-size: 4rem;
        }
      }
    }
  }

  #main-banner {
    #banner-content {

      #banner-logo {
        width: 18rem;
      }

      .banner-title {
        font-size: 3rem;
      }

      .banner-text {
        font-size: 2.2rem;
      }
    }

    header {

      #main-logo {
        width: 4rem;
        // height: 4rem;
        margin: 1rem 0 1rem 1.5rem;
      }

      #main-nav {
        ul {
          margin-right: 0.5rem;
          li {
            padding: 1.8rem 1.5rem 0 1.5rem;
            a {
              font-size: 1.7rem;
            }
          }
        }
      }
    }
  }

  .content-section {
    padding: 0 3rem;
    .section-title {
      font-size: 2.5rem;
      padding: 5rem 0 3rem 0;
      margin-right: 2rem;
    }
  }

  #about {
    // overflow: hidden;
    .text-container {
      margin: 0 0.5rem;
      .about-text {
        font-size: 1.4rem;
        margin-right: 1rem;
        &:first-of-type::first-letter {
          // font-size: 50vw;
          // line-height: 16rem;
          padding-top: 3rem;
          // padding-bottom: 2rem;
        }
      }

      #yellow-rect {
        height: 65%;
        // margin-left: 0.5rem;
      }
    }

    .line {
      width: 8%;
      margin-right: 1rem;
    }

    #resume {
      // margin-bottom: 2rem;
      font-size: 1.2rem;
      margin-right: 1rem;
    }

    #about-photo {
      // float: right;
      // width: 45%;
      margin-right: 1rem;
    }

    #motto {
      // clear: none;
      // float: left;
      margin-left: 5vw;
      font-size: 5.5vw;
      margin-top: 4.5rem;
      li {
        padding-bottom: 1.8rem;
      }
    }
  }

  #work {
    #projects {
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0 -3rem;
      .project-item {
        // margin: 0;
        // img {
        //   width: 100%;
        // }

        // &:nth-of-type(odd) {
        //   margin-right: 0.5rem;
        // }
        // &:nth-of-type(even) {
        //   margin-left: 0.5rem;
        // }
      }
    }
  }

  #contact {
    // clear: both;
    #form {
      width: 80%;
      // padding-bottom: 2rem;
      .form-field {

        .form-label {
          // font-size: 5rem;
        }
        .form-info {
          // font-size: 1.5rem;
        }
      }

      .form-field.message {
        .form-label {

        }
        .form-info {

        }
      }

      #form-submit {
        // font-size: 1.5rem;
      }
    }
  }

  footer {
    // padding: 3rem 0;

    #social {
      ul {
        li {
          margin: 0 1.2rem;
          a {
            i {
              // font-size: 2.2rem;
            }
          }
        }
      }
    }

    #copyright {
      // margin-top: 2.5rem;
      p {
        // font-size: 1rem;
      }
    }
  }
}

// 1200px
@media screen and (min-width: 75rem) {
  #about {
    // overflow: hidden;
    .text-container {
      // margin: 0 0.5rem;
      .about-text {
        font-size: 1.6rem;
        // margin-right: 1rem;
        &:first-of-type::first-letter {
          // font-size: 50vw;
          line-height: 20rem;
          // padding-top: 3rem;
          // padding-bottom: 2rem;
        }
      }

      #yellow-rect {
        height: 70%;
        // margin-left: 0.5rem;
      }
    }

    .line {
      // width: 8%;
    }

    #resume {
      // margin-bottom: 2rem;
      // font-size: 1.2rem;
    }

    #about-photo {
      // float: right;
      // width: 45%;
      // margin-right: 1rem;
      padding-top: 3.5rem;
    }

    #motto {
      // clear: none;
      // float: left;
      // margin-left: 5vw;
      // font-size: 5.5vw;
      margin-top: 5.5rem;
      li {
        // padding-bottom: 1.8rem;
      }
    }
  }
}

// 1344px
@media screen and (min-width: 84rem) {
  #main-banner {
    header {
      #main-nav {
        ul {
          //margin-right: 0.5rem;
          li {
            padding: 1.8rem 2rem 0 2rem;
            a {
              //font-size: 1.7rem;
            }
          }
        }
      }
    }
  }

  .content-section {
    .section-title {
      font-size: 3rem;
      padding: 6rem 0 3rem 0;
      margin-right: 3.5rem;
    }
  }

  #about {
    // overflow: hidden;
    .text-container {
      // margin: 0 0.5rem;
      .about-text {
        font-size: 1.8rem;

        margin-left: 1rem;
        margin-right: 2rem;
        &:first-of-type::first-letter {
          // font-size: 50vw;
          line-height: 22rem;
          // padding-top: 3rem;
          // padding-bottom: 2rem;
        }
      }

      #yellow-rect {
        // height: 70%;
        // margin-left: 0.5rem;
      }
    }

    .line {
      // width: 8%;
      margin-right: 2rem;
    }

    #resume {
      // margin-bottom: 2rem;
      // font-size: 1.2rem;
      margin-right: 2rem;
    }

    #about-photo {
      // float: right;
      // width: 45%;
      // margin-right: 1rem;
      padding-top: 7.5rem;
      margin-right: 2rem;
    }

    #motto {
      // clear: none;
      // float: left;
      // margin-left: 5vw;
      // font-size: 5.5vw;
      margin-top: 9.5rem;
      li {
        // padding-bottom: 1.8rem;
      }
    }
  }
}

// 1440px
@media screen and (min-width: 90rem) {
  #main-banner {
    header {
      #main-logo {
        width: 5rem;
        // height: 4rem;
        // margin: 1rem 0 1rem 1.5rem;
      }

      #main-nav {
        ul {
          //margin-right: 0.5rem;
          li {
            padding: 2rem 2.5rem 0 2.5rem;
            a {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

  .content-section {
    // padding: 0 3rem;
    .section-title {
      font-size: 3.5rem;
      padding: 7rem 0 3.5rem 0;
      margin-right: 5rem;
    }
  }

  #lightbox {
    #lb-content {
      max-width: 68rem;

      #lb-close {
        font-size: 5rem;
      }

      #project-name {
        font-size: 2rem;
        line-height: 2.2rem;
      }

      #image-container {
        max-width: 60rem;

        #image-wrapper {
          img {
            max-width: 960px;
            max-height: 768px;
          }
        }
      }

      #project-desc {
        max-width: 60rem;

        p {
          font-size: 1.2rem;
          padding: 1rem;
        }
      }

      .content-arrow {
        .lb-arrow {
          font-size: 5rem;
        }
      }
    }
  }

  #about {
    // overflow: hidden;
    .text-container {
      // margin: 0 0.5rem;
      .about-text {
        font-size: 1.8rem;
        margin-left: 2rem;
        margin-right: 3rem;
        &:first-of-type::first-letter {
          // font-size: 50vw;
          line-height: 24rem;
          // padding-top: 3rem;
          // padding-bottom: 2rem;
        }
      }

      #yellow-rect {
        // height: 70%;
        // margin-left: 0.5rem;
      }
    }

    .line {
      // width: 8%;
      margin-top: 2rem;
      margin-right: 3rem;
    }

    #resume {
      // margin-bottom: 2rem;
      font-size: 1.4rem;
      margin-right: 3rem;
    }

    #about-photo {
      // float: right;
      // width: 45%;
      // margin-right: 1rem;
      // padding-top: 7.5rem;
      margin-right: 3rem;
    }

    #motto {
      // clear: none;
      // float: left;
      // margin-left: 5vw;
      // font-size: 5.5vw;
      // margin-top: 9.5rem;
      li {
        // padding-bottom: 1.8rem;
      }
    }
  }

  #contact {
    // clear: both;
    #form {
      // width: 80%;
      // padding-bottom: 2rem;
      .form-field {

        .form-label {
          font-size: 6.5rem;
        }
        .form-info {
          // font-size: 1.5rem;
        }
      }

      .form-field.message {
        .form-label {

        }
        .form-info {

        }
      }

      #form-submit {
        // font-size: 1.5rem;
      }
    }
  }
}

// 1600px
@media screen and (min-width: 100rem) {
  #about {
    // overflow: hidden;
    .text-container {
      // margin: 0 0.5rem;
      .about-text {
        font-size: 2rem;
        margin-left: 3rem;
        margin-right: 4rem;
        &:first-of-type::first-letter {
          // font-size: 50vw;
          line-height: 26rem;
          // padding-top: 3rem;
          // padding-bottom: 2rem;
        }
      }

      #yellow-rect {
        // height: 70%;
        // margin-left: 0.5rem;
      }
    }

    .line {
      // width: 8%;
      margin-top: 2rem;
      margin-right: 4rem;
    }

    #resume {
      // margin-bottom: 2rem;
      font-size: 1.6rem;
      margin-right: 4rem;
    }

    #about-photo {
      // float: right;
      // width: 45%;
      // margin-right: 1rem;
      // padding-top: 7.5rem;
      margin-right: 4rem;
    }

    #motto {
      // clear: none;
      // float: left;
      // margin-left: 5vw;
      // font-size: 5.5vw;
      // margin-top: 9.5rem;
      li {
        // padding-bottom: 1.8rem;
      }
    }
  }
}

// 1920px
@media screen and (min-width: 120rem) {
  #main-banner {
    header {
      #main-logo {
        width: 5.5rem;
        // height: 4rem;
        // margin: 1rem 0 1rem 1.5rem;
      }

      #main-nav {
        ul {
          //margin-right: 0.5rem;
          li {
            padding: 2rem 3rem 0 3rem;
            a {
              font-size: 2.4rem;
            }
          }
        }
      }
    }
  }

  .content-section {
    // padding: 0 3rem;
    .section-title {
      font-size: 4.5rem;
      padding: 8rem 0 5rem 0;
      margin-right: 7rem;
    }
  }

  #about {
    // overflow: hidden;
    .text-container {
      // margin: 0 0.5rem;
      .about-text {
        font-size: 2.5rem;
        margin-left: 4rem;
        margin-right: 5.5rem;
        &:first-of-type::first-letter {
          // font-size: 50vw;
          line-height: 34rem;
          // padding-top: 3rem;
          // padding-bottom: 2rem;
        }
      }

      #yellow-rect {
        // height: 70%;
        // margin-left: 0.5rem;
      }
    }

    .line {
      // width: 8%;
      // margin-top: 2rem;
      margin-right: 5.5rem;
    }

    #resume {
      // margin-bottom: 2rem;
      font-size: 1.8rem;
      margin-right: 5.5rem;
    }

    #about-photo {
      margin-right: 5.5rem;
      // float: right;
      // width: 45%;
      // margin-right: 1rem;
      // padding-top: 7.5rem;
    }

    #motto {
      // clear: none;
      // float: left;
      margin-left: 6rem;
      font-size: 7rem;
      // margin-top: 9.5rem;
      li {
        // padding-bottom: 1.8rem;
      }
    }
  }

  #contact {
    // clear: both;
    #form {
      // width: 80%;
      // padding-bottom: 2rem;
      .form-field {

        .form-label {
          font-size: 8rem;
        }
        .form-info {
          // font-size: 1.5rem;
        }
      }

      .form-field.message {
        .form-label {
          padding-top: 0;
        }
        .form-info {

        }
      }

      #form-submit {
        // font-size: 1.5rem;
      }
    }
  }
}
